<div class="topic">
    <div class="TopicTitle"> 公司产品  Product</div>
    <div class="TopicMore"> <a href='/Product'><img src="images/more.png"></a></div>
</div>
<div class="hjnavleft">
    <ul>
        @Html.Raw(ViewBag.Menu)
    </ul>
</div>


<div class="hjnavcn">
    @Html.Raw(ViewBag.List)
    @*<div class='hjone'>
        <div class='albumblock'>
            <div class='inner'>
                <a href='/Product/9854172030.html' target='_blank' title='艾诺 高清大屏MP4触摸+按键'>
                    <img src='/images/up_images/20111210171953.jpg' width='166' height='166' />
                    <div class='albumtitle'>艾诺 高清大屏MP4触摸+按</div>
                </a>
            </div>
        </div>
        <div class='albumblock'>
            <div class='inner'>
                <a href='/Product/8079131853.html' target='_blank' title='艾诺 高清触摸768P全格式MP5'>
                    <img src='/images/up_images/20111210171819.jpg' width='166' height='166' />
                    <div class='albumtitle'>艾诺 高清触摸768P全格式</div>
                </a>
            </div>
        </div>
        <div class='albumblock'>
            <div class='inner'>
                <a href='/Product/6045791716.html' target='_blank' title='昂达 4G全格式高清 视频输出 MP5'>
                    <img src='/images/up_images/20111210171644.jpg' width='166' height='166' />
                    <div class='albumtitle'>昂达 4G全格式高清 视频输</div>
                </a>
            </div>
        </div>
        <div class='albumblock'>
            <div class='inner'>
                <a href='/Product/129784159.html' target='_blank' title='昂达4.3寸1080P高清触摸MP5 '>
                    <img src='/images/up_images/20111210171425.jpg' width='166' height='166' />
                    <div class='albumtitle'>昂达4.3寸1080P高清触</div>
                </a>
            </div>
        </div>
    </div>*@
</div>
