@*@using Enterprise.Model
@model Config*@
<p style="display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 5;  overflow: hidden;">


    @*@Model.AboutIntro*@


    某某有限公司致力于XX业的发展，专业从事集中润滑系统的研究、开发、制造及销售，凭借公司强大的技术力量和经济实力，不断开发出具有国际先进技术水平的新产品。...<a href="/About">详细>></a>
</p>
@*<a href="@Model.AboutUrl">详细&gt;&gt;</a>*@