<div class="topic">最新资讯&nbsp;&nbsp;&nbsp;New</div>
<div class="list">
    <dl><dt>2012/5/23</dt><dd><a href='/html/5147925030.html' target='_blank' title='雅虎或出售亚洲资产推动阿里巴巴集团IPO'>雅虎或出售亚洲资产推动阿里巴</a></dd><dt>2012/5/23</dt><dd><a href='/html/6035144817.html' target='_blank' title='电商价格战煎熬上游供应商：订单爆棚员工抓狂'>电商价格战煎熬上游供应商：订</a></dd><dt>2012/5/23</dt><dd><a href='/html/874506477.html' target='_blank' title='上市即脱销 华为Ascend P1一机难求'>上市即脱销 华为Ascend</a></dd><dt>2012/5/23</dt><dd><a href='/html/6295034522.html' target='_blank' title='Google推出知识图谱 搜索模式迎来大变革'>Google推出知识图谱 搜</a></dd><dt>2012/5/23</dt><dd><a href='/html/0795464438.html' target='_blank' title='微软加入新一代DRAM团体HMCC的理由 '>微软加入新一代DRAM团体H</a></dd></dl>
</div>
